<div class="container-fluid mt-3">
  <% if (!data || data.length === 0) { %>
    <div class="d-flex w-100 justify-content-center align-items-center" style="height: 80vh;">
      <div class="glass-container text-center">
        <img src="https://cdn.pixabay.com/photo/2016/05/14/18/23/emoticon-1392275_1280.png" alt="Sad Smiley Face" style="width: 115px; height: 115px;">
        <p class="text-muted" style="font-size: 2rem;">
          <% if(!posted) { %>
            Sorry, no jobs available right now.
          <% } else { %>
            You haven't posted any job.
          <% } %>
        </p>
        <% if (user) { %>
          <button class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#addJobModal">Post A Job</button>
        <% } %>
      </div>
    </div>
  <% } else { %>
    <div class="row justify-content-center">
      <% data.forEach(job => { %>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="job-card custom-shadow glass-tile-gradient-1">
            <div class="card-body">
              <h5 class="card-title text-primary mb-3 fsl cl-indigo"><%= job.company %></h5>
              <h6 class="card-subtitle mb-3 text-muted text-center fsm c-orange"><%= job.designation %></h6>
              <div class="job-details mb-3 ms-4">
                <p>
                  <i class="fas fa-map-marker-alt fsm cl-orange"></i> <%= job.location %> 
                </p>
                  <p>
                    <i class="fas fa-indian-rupee-sign text-success fsm"></i> <%= job.salary %> LPA
                  </p>
                <p><i class="fas fa-calendar-alt fsm c-yellow"></i> Apply By: <%= formatDate(job.applyBy) %></p>
              </div>
              <div class="skills-container mb-3 d-flex justify-content-center flex-wrap">
                <% job.skills.forEach(skill => { %>
                  <span class="badge custom-skill-pill bg-indigo"><%= skill %></span>
                <% }) %>
              </div>
              <a href="/jobs/<%= job._id %>" class="btn btn-primary custom-btn w-100" style="background: linear-gradient(to right, #007bff, #6c63ff); border: none; color: white; box-shadow: var(--shadow-dark);">View Details</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>
</div>
