<% if(user && job.recruiter===user.id) { %>
  <%- include('modals/update-job', {job}) %>
<% } %>
<div class="container mt-5">
  <div class="job-detail-card p-4 shadow glass-tile-gradient-2">
    <h3 class="text-center text-primary mb-3 cl-indigo fsl"><%= job.designation %></h3>
    <h5 class="text-center text-muted mb-4 c-orange" <%= job.company %></h5>

    <div class="row justify-content-flex-start text-start">
      <div class="col-md-6 mb-3">
        <p><strong>Location:</strong> <i class="fas fa-map-marker-alt text-danger fss"></i> <%= job.location %></p>
      </div>
      <div class="col-md-6 mb-3">
        <p> <strong>Salary:</strong> <i class="fas fa-indian-rupee-sign text-success fss"></i> <%= job.salary %> LPA</p>
      </div>
      <div class="col-md-6 mb-3">
        <p> <strong>Apply By:</strong> <i class="fas fa-calendar-alt text-warning fss"></i> <%= formatDate(job.applyBy) %></p>
      </div>
      <div class="col-md-6 mb-3">
        <p> <strong>Openings:</strong> <i class="fas fa-users text-info fss"></i> <%= job.openings %></p>
      </div>
      <div class="col-md-6 mb-3">
        <p> <strong>Applicants:</strong> <i class="fas fa-user-check text-primary fss"></i> <%= job.applicants.length %></p>
      </div>
      <div class="col-md-6 mb-3">
        <p> <strong>Posted On:</strong> <i class="fas fa-calendar text-secondary fss"></i> <%= formatDate(job.postedDate) %></p>
      </div>
    </div>

    <div class="skills-container mb-4 text-start">
      <h5 class="text-primary mb-2 cl-indigo fsm">Skills Required</h5>
      <% job.skills.forEach(skill => { %>
        <span class="badge custom-skill-pill bg-indigo"><%= skill %></span>
      <% }) %>
    </div>

    <div class="d-flex gap-2 mt-4">
      <% if(!locals.user) { %>
        <a href="/jobs/<%= job._id %>/apply" class="btn btn-outline-secondary" style="border-radius: 20px; background-color: #28a745; color: white; border: none;">Apply Now</a>
      <% } else { %>
        <% if(job.applicants && job.applicants.length) { %>
          <a href="/jobs/<%= job._id %>/applicants" class="btn btn-outline-success" style="border-radius: 20px; background-color: #28a745; color: white; border: none;">See Applications</a>
        <% } %>
      <% } %>
      <% if(user && job.recruiter===user.id) { %>
        <button class="btn btn-secondary btn-lg bg-indigo border-r" data-bs-toggle="modal" data-bs-target="#updateJobModal">Post Jobs</button>
        <button type="button" onclick="getDeleteJobAuth('<%= job._id %>')" class="btn btn-outline-danger border-r" style="border-radius: 20px; background-color: #ff5733; color: white; border: none;">Delete Job</button>
      <% } %>
    </div>
  </div>
</div>

<script>
  const job = '<%- JSON.stringify(job) %>'
</script>
<script type="module" src="/js/actions/updateActions.js"></script>
